html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */ 
	margin: 0px;
	font-size: 18px;
	background-image: url(images/PixelArt.png);
	text-align: center;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

h1, h2{
	font-family: 'Mansalva', cursive;
	color: #FFAA00;
}

h3, h5{
	font-family: font-family: 'Permanent Marker', cursive;
	color: #FFB525;
}

h1{
	font-weight: normal;
	margin-top: 100px;
	margin-bottom: 0px;
	font-size: 8rem;
}

h2{
	margin-top: 80px;
	font-size: 2rem;
}

img{
	width: 100px;
}

p{
	margin: auto;
	line-height: 2;
}

hr {
	width: 5%;
	margin: 100px auto;
	border: dotted 8px;
	border-bottom: none;
	border-color: #111;
}

div{
	margin: 0;
}

.branding{
	width: 100%;
}

.photo-profile {
	width: 200px;
}

.blackhole{
	width: 40%;
	transform: rotate(50deg);
	position: absolute;
	left: -200px;
	top: -200px;
}

.ufo{
	transform: rotate(30deg);
	position: relative;
	left: 300px;
	top: 80px;
}

.ufo-2{
	transform: rotate(-30deg);
	position: absolute;
	right: 200px;
}

.satelite{
	width: 150px;
	position: relative;
	top: 0px;
	right: 300px;
}

.planet{
	width: 40%;
	position: absolute;
	right: -200px;
	bottom: -200px;
}

.moon{
	position: absolute;
	left: 80px;
	width: 10%;
}

.earth{
	width: 35%;
	position: absolute;
	left: -100px;
	bottom: -300px;
}

.circle{
	transform: rotate(-30deg);
	width: 40%;
	position: absolute;
	right: -200px;
}

.profile-description{
	font-size: 2rem;
	margin-bottom: 80px;
}

.description{
	width: 30%;
}
.profile{
	position: relative;
	margin-top: 100px;
}

.dream-row{
	text-align: left;
	width: 40%;
	margin: 100px auto;
}

.design{
	margin-right: 20px;
	width: 25%;
	float: left;
}

.developer{
	margin-left: 20px;
	width: 25%;
	float: right;
}

.contact{
	margin-bottom: 50px;
	width: 30%
}

.btn{
	text-decoration: none;
	color: #000;
	font-size: 16px;
	padding: 15px 20px;
	text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: rgb(255, 144, 0);
	background: -moz-linear-gradient(90deg, rgb(255, 144, 0) 14%, rgb(255, 175, 17) 77%);
	background: -webkit-linear-gradient(90deg, rgb(255, 144, 0) 14%, rgb(255, 175, 17) 77%);
	background: -o-linear-gradient(90deg, rgb(255, 144, 0) 14%, rgb(255, 175, 17) 77%);
	background: -ms-linear-gradient(90deg, rgb(255, 144, 0) 14%, rgb(255, 175, 17) 77%);
	background: linear-gradient(0deg, rgb(255, 144, 0) 14%, rgb(255, 175, 17) 77%);
}

.btn:hover{
	background: rgb(227, 255, 214);
	background: -moz-linear-gradient(90deg, #aaa 14%, #fff 77%);
	background: -webkit-linear-gradient(90deg, #aaa 14%, #fff 77%);
	background: -o-linear-gradient(90deg, #aaa 14%, #fff 77%);
	background: -ms-linear-gradient(90deg, #aaa 14%, #fff 77%);
	background: linear-gradient(0deg, #aaa 14%, #fff 77%);
}

.bottom-container{
	margin-top: 100px;
	background: #FFAA00;
	padding: 30px 0;
}

.footer-link img{
	width: 40px;
	padding: 5px;
}

.git-corner{
	z-index: 10;
	position: absolute;
	top: 0;
	right: 0;
}